<div class="container">
    <div class="row col-md-12">
        <h1>What is Aperture?</h1>
        <p>
            What happens if your portrait clients request golden hour lighting… 
            outside of golden hour? That’s the situation photographer Pye Jirsa 
            of Lin & Jirsa Photography found himself in recently while shooting 
            a wedding. As you can see in the 4.5-minute video above, Jirsa was 
            able to deliver by using creative lighting, a powerful flash, and a 
            couple of colored gels. What happens if your portrait clients request golden hour lighting… 
            outside of golden hour? That’s the situation photographer Pye Jirsa 
            of Lin & Jirsa Photography found himself in recently while shooting 
            a wedding. As you can see in the 4.5-minute video above, Jirsa was 
            able to deliver by using creative lighting, a powerful flash, and a 
            couple of colored gels.
        </p>
        <p>
            What happens if your portrait clients request golden hour lighting… 
            outside of golden hour? That’s the situation photographer Pye Jirsa 
            of Lin & Jirsa Photography found himself in recently while shooting 
            a wedding. As you can see in the 4.5-minute video above, Jirsa was 
            able to deliver by using creative lighting, a powerful flash, and a 
            couple of colored gels.
        </p>
    </div>
</div>