<div class="slider">
  <div class="slide slide-feature-1 active-slide">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="slide-copy">
          <h1 class="teaser-title">See The World Differently.</h1>
          <h3 class="subtitle"> Begin your education in lenses.</h3>
          <div class="discover-button", onmouseover="this.style.background='#b3b3b3';" onmouseout="this.style.background='none';">
            <a href="/lenses"><h3>Start Here</h3></a>
          </div>
          </div>
        </div>
        <!--<div class="slide-copy col-xs-5">-->
        <!--  <h1>Flipboard Is Your Personal Magazine</h1>-->
        <!--  <p>It's a single place to discover, collect and share the news you care about.  Add your favorite social networks, publications and blogs to stay connected to the topics and people closest to you.</p>-->
          
        <!--  <ul class="get-app">-->
        <!--    <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>-->
        <!--    <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>-->
        <!--    <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>-->
        <!--    <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>-->
        <!--  </ul>-->
        <!--</div>-->
        <!--<div class="slide-img col-xs-12">-->
        <!--  <%= image_tag "nikkor-lenses.jpg" %>-->
        <!--</div>-->
      </div>
    </div>      
  </div>
  <div class="slide slide-feature-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          
          <h1>Try Our Virtual Lens Simulator</h1>
          <h3>See how different lenses change your perspective.</h3>
          <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
              <div class="discover-button">
                <a href="/try_lenses"><h3>Try It Now</h3></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div> 
  <div class="slide">
    <div class="container">
      <div class="row">
        <div class="slide-copy col-xs-5">
          <h1>Learn All About Prime Lenses</h1>
          <p>
            Knowing which lens to throw in your bag for a given job can be a 
            daunting task. With so many options to choose from, it can be very 
            helpful to get a bird's eye view of where each lens excells. 
          </p>
          <div class="discover-button", onmouseover="this.style.background='white';" onmouseout="this.style.background='none';">
            <a href="/lenses"><h3>Learn More</h3></a>
          </div>
        </div>
        <div class="slide-img col-xs-7">
          <%= image_tag "prime_lenses.png", class: "prime_lens_image", width: 540 %>
        </div>
      </div>
    </div>      
  </div> 
</div>

<div class="slider-nav">
  <a href="#" class="arrow-prev"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
  <ul class="slider-dots">
    <li class="dot active-dot">&bull;</li>
    <li class="dot">&bull;</li>
    <li class="dot">&bull;</li>
  </ul>
  <a href="#" class="arrow-next"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
</div> 

<div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="service_box text_center">
                <div class="service_icon">
                  <i class="dm-icon fa fa-camera fa-3x"></i>  
                  <h3>Lens Basics</h3>
                  <p class="col-text">
                    Whether you just got your first camera with a simple kit 
                    lens, or you already have a few, start here. 
                  </p>
                  <a href="/lenses" class="col-button">Start Here</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="service_box text_center">
                <div class="service_icon">
                  <i class="dm-icon fa fa-camera fa-3x"></i>  
                  <h3>Virtual Lenses</h3>
                  <p class="col-text">
                    Although it is always better to try lenses IRL, use our virtual
                    lens machine to get an idea about how they work. 
                  </p>
                  <a href="/try_lenses" class="col-button">Try It</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="service_box text_center">
                <div class="service_icon">
                  <i class="dm-icon fa fa-camera fa-3x"></i>  
                  <h3>Aperture</h3>
                  <p class="col-text">
                    Having a hard time wrapping your mind around the idea of 
                    aperture? Here is an easy to read article. 
                  </p>
                  <a href="/aperture" class="col-button">Read Now</a>
                </div>
              </div>
            </div>
        </div>
    </div>

<div class="email">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1>Emails Delivered Weekly</h1>
      <p>Learn About Lens News, Tips and New Features!</p>
      <form>
        <span>Email:</span>
        <input type="email" name="email"><br>
        <input type="submit" value="Subscribe" id="submit" class="col-button">
      </form>        
    </div>
  </div>
</div>

