<div class="row">
    <div class="col-sm-12">
        <h1>
            Lens Bag.
        </h1>
        <h5>
            Experiment with all kinds of lenses. 
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h3 class="bag_header"> Please choose a lens.</h3>
        <div class="bag">
            <div class="row top_row">
                <div class="left">
                    <div class="lens lens_a">
                        <p class="lens_text">20mm</p>
                    </div>
                </div>
                <div class="right">
                    <div class="lens lens_b">
                        <p class="lens_text">24mm</p>
                    </div>
                </div>
            </div>
            <div class="row middle_row">
                <div class="left">
                    <div class="lens lens_c">
                        <p class="lens_text">28mm</p>
                    </div>
                </div>
                <div class="right">
                    <div class="lens lens_d">
                        <p class="lens_text">35mm</p>
                    </div>
                </div>
            </div>
            <div class="row bottom_row">
                <div class="left">
                    <div class="lens lens_e">
                        <p class="lens_text">50mm</p>
                    </div>
                </div>
                <div class="right">
                    <div class="lens lens_f">
                        <p class="lens_text">85mm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="col-md-1-offset">
          <h3 class="bag_header">Choose an image...</h3>    
          <%= image_tag 'landscape.jpg', size: '135x90', class: "thumb", id: "image_1", 
          :onclick=>"setImage(this)" %>
          <img class="thumb" src="http://placehold.it/135x90">
          <img class="thumb" src="http://placehold.it/135x90">
          <img class="thumb" src="http://placehold.it/135x90">
        </div>
        <%= image_tag 'http://placehold.it/560x382', size: '560x382', class: "main_image", id: "main_image" %>
        <br>
        <img src="http://placehold.it/350x250">
    </div>
</div>

<script>
function setImage(source) {
    var main_image = document.getElementById("main_image");
    var new_image = source.getAttribute('src');
    main_image.setAttribute("src", new_image);
}
</script>
