.crazy { 
    height: 500px;
    width: 100%;
    background-image: url('/assets/landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    margin-top: 0px;
}

.learn, .summary {
    position: relative;
    text-align: center;
}

.learn {
    top: 200px;
    color: white;
    font-size: 60px;
}

.summary{
    top: 200px;
    font-size: 24px;
    color: white;
}

.intro {
    padding: 5px 10px 5px 20px;
}

.lenses {
    margin-top: 20px;
    background: white;
    padding-bottom: 20px;
    margin-bottom: 200px;
}

.collapse {
    text-align: right;
}
.title { 
    background-color: #00008B;
    border-radius: 4px;
    padding: 4px 4px 4px 10px;
    border: 1px solid white;
    color: white;
}

.description{
    display: none;
    background: white;
    padding: 10px;
}

.buttons {
    text-align: right;
    padding-right: 40px;
}

button a {
    color: white;
    font-color: white
}

button a:hover {
    color: white;
}

.lens_image {
    width: 200px;
    height: 200px;
}