/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Istok+Web);

body {
    background: #f2f2f2;
}

// HOME PAGE 

.banner { 
    background: white;
}

.banner_text {
    margin-left: 150px;
}

.bag {
    height: 650px;
    width: 450px;
    background: rgb(118, 158, 45);
    border-radius: 100px 100px 40px 40px;
    border: solid gray 5px;
}



.top_row, .middle_row, .bottom_row {
    height: 33%;
    position: relative;
    width: 100%;
    right: -15px;
    
}

.top_row, .middle_row {
    border-bottom: solid 10px white;
}

.right, .left {
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 1;
    
    
}

.left { 
    border-right:  solid 10px white;
}
    
.lens {
    position: relative;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background: url(https://cdn.tutsplus.com/vector/uploads/legacy/tuts/33_Camera_Lens/step22b.jpg);
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 180px 180px;
}

.lens:hover { 
    width: 190px;
    height: 190px;
}

.lens_text {
    position: relative;
    top: 70px;
    font-size: 28px;
}

.lens_a {
    top: 15px;   
}

.lens_b {
    top: -190px;
    left: 220px;
}

.lens_c {
    top: 15px;
}

.lens_d {
    top:  -190px;
    left: 220px;
}

.lens_e {
    top: 15px;
}

.lens_f {
    top: -190px;
    left: 220px;
}
.thumb {
    padding: 2px;
}

.thumb:hover {
    z-index : 1;
    height: 100px;
    width: 150px;
}

.bag_header {
    padding-bottom: 20px;
}

.main_image {
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#photo_name_text, #focal_length_text, #aperture_text, #subtitle {
    font-family: 'Architects Daughter', cursive;
    
}

h1, h3, h5, p {
    font-family: 'Istok Web', sans-serif;
}

p { 
    font-size: 20px;
}

.paper {
    margin-top: 15px;
    padding: 7px 10px 15px 50px;
    background-image: url("notebook_paper_crop.jpg");
}

.paper h3 {
    text-decoration: underline;
}

.photo_options {
    padding-left: 20px;
}

.aperture {
    margin: 15px 0px 15px 20px;
}