footer {
    padding-top: 10px;
    margin-top: 80px;
    background-color: #c0c0c0;
    height: 300px;
    color: black;
    position: relative;
    h4 {
        padding-left: 10px;
    }
    hr {
        width: 80%;
    }
    small {
        float: right;
    }
    .credits {
        height: 50px;
        padding-top: 15px;
        background: black;
        color: white;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}