<footer>
    <hr />
    <div class="container">
        <div class="col-md-3">
            <h1>Resources</h1>
            <h4>Resource 1</h4>
            <h4>Resource 2</h4>
            <h4>Resource 3</h4>
        </div>
        <div class="col-md-3">
            <h1>Resources</h1>
            <h4>Resource 1</h4>
            <h4>Resource 2</h4>
            <h4>Resource 3</h4>
        </div>  
        <div class="col-md-3 col-md-offset-3">
            <h1>Resources</h1>
            <h4>Resource 1</h4>
            <h4>Resource 2</h4>
            <h4>Resource 3</h4>
        </div>    
    </div>
    <div class="credits">
        <div class="container">
          <small>Copyright 2015</small>
        </div>
    </div>
    
</footer>

